/* NavBar */
.header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-bottom: solid 2px var(--primary-color);
    /* justify-items: flex-start; */
    padding: 5px;
}

.header .menu_button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 9px;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5%;
    display: none;
}
.header .menu_button:hover{
    color: #fff;
    background-color: var(--primary-color);
}

.center_header{
    flex: 1; /* Takes available space */
    display: flex;
    justify-content: right; /* Centers horizontally */
}
.header_button{
    background-color: antiquewhite;
    margin-left: 10px;
}
/* End Navbar */

/*SearchBar*/
.header_search_bar{
    display: flex;
    align-items: center; /* Centers input and label vertically */
    gap: 5px; /* Adds spacing between input and label */
}
.header_search_bar input{
    border: solid 1px var(--primary-color);
    height: 28px;
}
.header_search_bar label{
    font-size: 20px;
    font-weight: 400;
}
