/* global css */



* {
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Responsive Layout */
.ims_container {
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr 30px 50px;
    grid-template-columns: 70px 4fr;
    height: 100vh;
    grid-template-areas:
        "left-aside header "
        "left-aside main "
        "left-aside low-content "
        "left-aside footer ";
    grid-gap: 10px;
    font-weight: 600;
    font-size: 20px;
    transition: grid-template-columns 0.5s ease; /* Slow & Smooth */
}