/* Sidebar */
.left-aside {
    grid-area: left-aside;
    display: none;
    min-width: 250px; /* Minimum width */
    background-color: red;
}

/* Responsive Layout */
.container {
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    /* grid-template-areas:
        "left-aside header header"
        "left-aside main right-aside"
        "left-aside main right-aside"
        "left-aside low-content right-aside"
        "left-aside footer footer"; */
    grid-gap: 10px;
    /* font-weight: 600; */
    font-size: 20px;
}
/* Menu Button Functions */
.sidebar-show {
    grid-template-areas:
        "left-aside header "
        "left-aside main"
        "left-aside low-content "
        "left-aside footer";
}

.sidebar-hide {
    grid-template-areas:
        "header header"
        "main main"
        "low-content low-content "
        "footer footer ";
}

@media (max-width: 678px) {
    .container {
        grid-template-rows: 50px 1fr 50px 50px 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "low-content"
            "right-aside"
            
            "footer";
        padding: 10px;
        /* Adjust padding for mobile view */
    }

    .left-aside {
        position: fixed;
        top: 0;
        left: -100%; /* Hidden by default */
        height: 100%;
        width: 60%;
        background-color: green;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        transition: left 0.3s ease;
        z-index: 1000; /* Ensures it appears on top */
    }

    .sidebar-show .left-aside {
        left: 0; /* Slide in */
    }
}